.image {
    &_round {
        width: 120px;
        height: 120px;
    }
}

.btn {
    &_create {
        background-color: 00ffff;
    }
    &_login {
        background-color: #cdf7e8;
        font-size: 16px;
    }
    &_register {
        background-color: #98d0fa;
        font-size: 16px;
    }
}

.card {
    &_profile_layout {
        width: 160px;
        border-right: solid;
    }
    &_body_layout {
        width: 100px;
        height: auto;
    }
    &_text_layout {
        font-size: 20px;
    }
}

.report {
    &_message {
        color: #9eaab3;
        letter-spacing: 1px;
        font-size: 28px;
    }
    &_back {
        color: #171b1d;
        letter-spacing: 1px;
        font-size: 16px;
    }

    .nav {
        &_user {
            background-color: #9be9bd;
        }
    }
}
